{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" id="hero-section">
    <div>
        <h1>HAPPINESS JUNKIE</h1>
        <p>FIND YOUR HAPPY</p>
        <a href="{% url 'products' %}" class="btn btn-custom">SHOP</a>
    </div>
</div>
<div class="container" id="blog-section">
    <div class="row">
        <div class="card col-10 offset-1 my-2 py-2">
            <h1>Whats New!</h1>
            <p>Click below to see our latest blog posts</p>
            <a href="{% url 'blog' %}" class="btn btn-custom mx-auto">Have a look</a>
        </div>
    </div>
</div>
{% endblock %}