@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/****************************
	Table of Contents
	1. Global Styles
	2. NavBar
    3. Buttons
    4. Home Page
    5. Footer
****************************/

/* 1. Global Styles */

:root {
    /* custom variants used for the site colour scheme which allows easy changing of the colour scheme if needed */
    --clr-dark: #3c3b40;
    --clr-accent-dark: #633C7C;
    --clr-accent-light: #BC96C0;
    --clr-light: #EEE5EF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Abril Fatface', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* 2. NavBar */
/* navbar component has been built using bootstrap but has been given custom styling to fit in with the sites aesthetic */

.navbar {
    background-color: white;
}

.navbar-toggler i {
    color: var(--clr-dark);
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 992px) {
    .navbar-toggler.show {
        display: inline;
    }
}

#delivery-banner {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

/* 3. Buttons */

.btn-custom {
    font-size: 1rem;
    background-color: var(--clr-accent-dark);
    border-radius: 0;
    color: var(--clr-light);
    padding: 0.5em 1em;
    border: 1.75px solid var(--clr-light);
}

.btn-search {
    color: var(--clr-accent-dark);
    border-color: var(--clr-accent-dark);
}

.btn-search:hover {
    background-color: var(--clr-accent-dark);
    border-color: var(--clr-accent-dark);
    color: var(--clr-light);
}

.pointer {
    cursor: pointer;
}

/* 4. Home page */

#hero-section {
    background: url(/static/img/hero_image.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 350px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#hero-section div {
    color: var(--clr-light);
}

#hero-section div h1 {
    font-size: 9vw;
}

#hero-section div p {
    font-size: 5vw;
}


#hero-section div a {
    content: '\00bb';
}

#blog-section {
    width: 100vw;
    height: 350px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

/* 5. Footer */

footer p,
footer a {
    font-size: 0.9rem;
}

footer h1 {
    font-size: 1.5rem;
}

footer img {
    width: 80px;
    height: 80px;
}

footer i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

footer .btn {
    background-color: black;
    color: white;
    border-radius: 0;
}

.footer-link {
    text-decoration: underline;
}

footer .form-control {
    padding-top: 0.375rem;
    padding-right: 0;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    border-radius: 0;
}