@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/****************************
	Table of Contents
	1. Global Styles
	2. NavBar
    3. Footer
****************************/

/* 1. Global Styles */

:root {
    /* custom variants used for the site colour scheme which allows easy changing of the colour scheme if needed */
    --clr-dark: #3c3b40;
    --clr-accent-dark: #633C7C;
    --clr-accent-light: #BC96C0;
    --clr-light: #EEE5EF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Abril Fatface', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* 2. NavBar */
/* navbar component has been built using bootstrap but has been given custom styling to fit in with the sites aesthetic */

.navbar {
    background-color: white;
}

.navbar-toggler i {
    color: var(--clr-dark);
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 992px) {
    .navbar-toggler.show {
        display: inline;
    }
}

#delivery-banner {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

/* 3. Footer */