{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="card m-2 p-2">
        <h1>{% trans "Set Password" %}</h1>
    
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-dark mt-2" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
