{% load static %}


<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/base.css'%}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/de2e36d79b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Happiness Junkie {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
                    aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <a class="navbar-brand me-0 me-lg-1" href="#">
                    <img src="{% static 'logo.jpeg' %}" alt="" class="mx-auto">
                </a>

                <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="productsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All Products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price
                                        <i class="fa-solid fa-arrow-up-right"></i></a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price
                                        <i class="fa-solid fa-arrow-down-right"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="productsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=knits">Knits</a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=foil_prints">Foil
                                        Prints</a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=stickers">Stickers</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse order-4 order-lg-2" id="navbarSearch">
                    <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search your happiness"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <button class="navbar-toggler show order-1 order-lg-3">
                    <a href="{% url 'account_login' %}">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </button>
                <button class="navbar-toggler show order-2 order-lg-4">
                    <a href="{% url 'cart' %}">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </button>
            </div>
        </nav>
        <div class="row text-center" id="delivery-banner">
            <div class="col">
                <h5>Free shipping when you spend over £${{ free_shipping_threshold }}</h5>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-3">
                    <a href="#">
                        <img src="{% static 'logo.jpeg' %}" alt="" class="mx-auto mx-lg-0 mb-4">
                    </a>
                    <p>Happiness Junkie is the creative side hustle of a hairstylist and mom of two. I make foil
                        prints, stickers and knits!</p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h1>WEBSITE</h1>
                            <a href="#" class="footer-link d-block">Prints</a>
                            <a href="#" class="footer-link d-block">Stickers</a>
                        </div>
                        <div class="col-6 col-md-3">
                            <h1>ACCOUNT</h1>
                            <a href="#" class="footer-link d-block">Prints</a>
                            <a href="#" class="footer-link d-block">Stickers</a>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-4">
                            <h1 class="mb-4">FIND US ON SOCIAL</h1>
                            <div>
                                <a href="">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                                <a href="">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa-brands fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" id="newsletter-form">
                        <div class="col">
                            <h1>NEWSLETTER</h1>
                            <p>Sign up for a weekly newsletter for updates on our latest items</p>
                            <form class="row">
                                <div class="col-9 pe-0">
                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Enter your email">
                                </div>
                                <div class="col-3 ps-0">
                                    <button type="submit" class="btn">SIGNUP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <p>© 2022 All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>