{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Product Management</h1>
<h2>Update product</h2>

<form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    {% if field.name != 'image' %}
    {{field | as_crispy_field }}
    {% else %}
    {{ field }}
    {% endif %}
    {% endfor %}

    <a href="{% url 'products' %}">Cancel</a>
    <button type="submit">Update Product</button>
</form>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $("#new-image").change(function () {
        var file = $("#new-image")[0].files[0];
        $("#filename").text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}