{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{{ product.friendly_name }}</h1>
<img src="{{ product.image_url }}" alt="" width="100px" height="100px">
<form action="{% url 'add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Add</button>

</form>
{% if request.user.is_superuser %}
    <a href="{% url 'edit_product' product.id %}">edit product</a>
    <a href="{% url 'delete_product' product.id %}">delete product</a>
{% endif %}

{% endblock %}